## What is Dictionary?
Dictionary is an unordered and non-homogeneous data structure which stores element as key value pairs.


### Dictionary properties 


- Dictionary has no indexing

- dictionary is mutable

- keys are immutable 

- values can be mutable or immutable

- keys should not be repeat

- here in dictionary we have{key:value}

## how to create dictionary

In [2]:
d={"name":"khushi","rollno":45,"marks":[12,13,14,15],"gender":"female",(12,13,14):"marks"}
print(d) 
print(type(d))

{'name': 'khushi', 'rollno': 45, 'marks': [12, 13, 14, 15], 'gender': 'female', (12, 13, 14): 'marks'}
<class 'dict'>

## empty dict

In [1]:
d={}
print(d)
print(type(d))

{}
<class 'dict'>

## keys are immutable
- string
- int
- float
- bool
- tuple
- frozenset

## values can be mutable or immutable

## key are unique

In [4]:
d={"name":"khushi","rollno":45,"marks":[12,13,14,15],"gender":"female","name":"shivangi"}
d
## the one which would be updated in the key, it would give the same answer

{'name': 'shivangi',
 'rollno': 45,
 'marks': [12, 13, 14, 15],
 'gender': 'female'}

In [6]:
s="madrid"
from collections import Counter
Counter(s)

Counter({'m': 1, 'a': 1, 'd': 2, 'r': 1, 'i': 1})

## dictionary has no indexing

In [7]:
d

{'name': 'shivangi',
 'rollno': 45,
 'marks': [12, 13, 14, 15],
 'gender': 'female'}

In [9]:
d[0]

KeyError: 0

## dicationary is mutable

## how to access the value from the dict:
- d[keyname]
- get()

difference b/w this-

In [10]:
d["name"]

'shivangi'

In [11]:
d["gender"]

'female'

In [12]:
d["marks"]

[12, 13, 14, 15]

In [2]:
d["life"] ## it will show error if the key is not in dict

NameError: name 'd' is not defined

In [13]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [14]:
d.get("name")

'shivangi'

In [5]:
x=d.get("x") ## in get if we pass key which is not there it will return none not error
print(x)

None

## how to update the value in dict

In [17]:
d

{'name': 'shivangi',
 'rollno': 45,
 'marks': [12, 13, 14, 15],
 'gender': 'female'}

In [18]:
d["name"]="mukul"
d

{'name': 'mukul', 'rollno': 45, 'marks': [12, 13, 14, 15], 'gender': 'female'}

## how to add key-value pair in the dict

In [19]:
d

{'name': 'mukul', 'rollno': 45, 'marks': [12, 13, 14, 15], 'gender': 'female'}

In [20]:
d["school name"]="greenway school"
d

{'name': 'mukul',
 'rollno': 45,
 'marks': [12, 13, 14, 15],
 'gender': 'female',
 'school name': 'greenway school'}

## how to add key-value pair in the dict

## question d={"names":["khushi","mukul","tushar","vipin"],"marks":[23,25,27,29],"gender":["f","m","m","m"],"age":[21,22,20,21]}

In [24]:
d1={}
m=[]
g=[]
a=[]
name=[]
n=int(input("enter the number of students "))
for i in range(0,n):
    na=input("enter the student name ")
    ag=int(input("enter the student age "))
    ma=int(input("enter the student marks "))
    ge=input("enter the gender ")
    name.append(na)
    a.append(ag)
    g.append(ge)
    m.append(ma)
print(name)
print(g)
print(a)
print(m)
d["names"]=name
d["marks"]=m
d["age"]=a
d["gender"]=g

print(d)

enter the number of students 2
enter the student name khushi
enter the student age 21
enter the student marks 50
enter the gender f
enter the student name anmol
enter the student age 34
enter the student marks 56
enter the gender m
['khushi', 'anmol']
['f', 'm']
[21, 34]
[50, 56]
{'name': 'mukul', 'rollno': 45, 'marks': [50, 56], 'gender': ['f', 'm'], 'school name': 'greenway school', 'names': ['khushi', 'anmol'], 'age': [21, 34]}

In [25]:
d

{'name': 'mukul',
 'rollno': 45,
 'marks': [50, 56],
 'gender': ['f', 'm'],
 'school name': 'greenway school',
 'names': ['khushi', 'anmol'],
 'age': [21, 34]}

## nested dictationary

In [2]:
d={"vegetables":{"salad":["tomato","cucumber","onion"],"routine":["potato","ladyfinger","peas","bittergourd"]},"shakes":["oreo","watrermelon","brownie"],"restaurant":"bbq"}

In [29]:
d

{'vegetables': {'salad': ['tomato', 'cucumber', 'onion'],
  'routine': ['potato', 'ladyfinger', 'peas', 'bittergourd']},
 'shakes': ['oreo', 'watrermelon', 'brownie'],
 'restaurant': 'bbq'}

In [30]:
len(d)

3

## fetch bbq

In [32]:
d["restaurant"]

'bbq'

## fetch ladyfinger

In [33]:
d["vegetables"]["routine"][1]

'ladyfinger'

## fetch last vegetable in salad

In [34]:
d["vegetables"]["salad"][-1]

'onion'

## fetch all the vegetables that startswith p

In [35]:
l=d["vegetables"]["routine"]
l

['potato', 'ladyfinger', 'peas', 'bittergourd']

In [36]:
for i in l:
    if i.startswith("p"):
        print(i)

potato
peas

## fetch all the shakes in reverse manner

In [37]:
d["shakes"][::-1]

['brownie', 'watrermelon', 'oreo']

In [8]:
d

{'shakes': ['oreo', 'watrermelon', 'brownie'], 'restaurant': 'bbq'}

In [6]:
d.pop("vegetables")

{'salad': ['tomato', 'cucumber', 'onion'],
 'routine': ['potato', 'ladyfinger', 'peas', 'bittergourd']}

In [7]:
d

{'shakes': ['oreo', 'watrermelon', 'brownie'], 'restaurant': 'bbq'}

In [10]:
del d["shakes"]

In [11]:
d

{'vegetables': {'salad': ['tomato', 'cucumber', 'onion'],
  'routine': ['potato', 'ladyfinger', 'peas', 'bittergourd']},
 'restaurant': 'bbq'}

In [3]:
d.keys() ## it fetch only keys

dict_keys(['vegetables', 'shakes', 'restaurant'])

In [4]:
d.values() ## to fetch values only of dict

dict_values([{'salad': ['tomato', 'cucumber', 'onion'], 'routine': ['potato', 'ladyfinger', 'peas', 'bittergourd']}, ['oreo', 'watrermelon', 'brownie'], 'bbq'])

In [5]:
d.items() ## it gives both keys and values in the form of tupple

dict_items([('vegetables', {'salad': ['tomato', 'cucumber', 'onion'], 'routine': ['potato', 'ladyfinger', 'peas', 'bittergourd']}), ('shakes', ['oreo', 'watrermelon', 'brownie']), ('restaurant', 'bbq')])

## iterations on dict

In [6]:
for i in d:  ## it considers as key ## by default it will give only keys
    print(i)

name
rollno
marks
gender

In [7]:
for i,j in d.items(): ##here i will consider keys and j will consider values 
    print("keys   ",i) ## this is also unpacking
    print("values   ",j)

keys    name
values    shivangi
keys    rollno
values    45
keys    marks
values    [12, 13, 14, 15]
keys    gender
values    female

In [8]:
for i in d.values():  ##it considers as value
    print(i)

shivangi
45
[12, 13, 14, 15]
female

In [9]:
for i in d.items(): ## it will show in whole tuple
    print("keys",i)

keys ('name', 'shivangi')
keys ('rollno', 45)
keys ('marks', [12, 13, 14, 15])
keys ('gender', 'female')

## common functions (by default common functions works on keys)

In [10]:
d={"name":["khushi","mukul","vipin","tushar"],"course":["ds","da","da"]}
d

{'name': ['khushi', 'mukul', 'vipin', 'tushar'], 'course': ['ds', 'da', 'da']}

In [12]:
len(d) ## it will count only keys

2

In [11]:
max(d) ## it tells on the basis of laxographic order(alphabetical order)
## it will find maximum only on keys ## c phele aata h aur n baad mei toh bada ho gaya n

'name'

In [15]:
min(d)

'course'

In [16]:
min(d.values())

['ds', 'da', 'da']

In [13]:
d={1:"one",2:"two",0:"zero",10:"ten"}

In [14]:
sorted(d) ## by default it will sort keys not dict

[0, 1, 2, 10]

In [15]:
sorted(d.values())

['one', 'ten', 'two', 'zero']

In [16]:
sorted(d.items()) ## to sort whole key,it will sort on the basis of keys by default.
## jiski key choti vo phele

[(0, 'zero'), (1, 'one'), (2, 'two'), (10, 'ten')]

### sort the dict based on values : using lamda

### concatenation operator wont work for dict

## update (to add something in dict) (same as + means joing the 2 dict)

In [20]:
d1={"name":["khushi","mukul","vipin","tushar"],"course":["ds","da","da"]}
d2= {40:"forty",30:"thirty"}
d1.update(d2) ## means d1 will be updated(items will be added in d1)
print(d1)

{'name': ['khushi', 'mukul', 'vipin', 'tushar'], 'course': ['ds', 'da', 'da'], 40: 'forty', 30: 'thirty'}

## fromkeys (keys will be diff and values will be same)

In [18]:
names=["jai","sheena","leena"]
course="ds"
d={}
d.fromkeys(names,course)

{'jai': 'ds', 'sheena': 'ds', 'leena': 'ds'}

## wap - u have to take the string from user and each element of the string would be key and their corresponding values would be vowels or consonent

In [21]:
s=input("enter the string ")
d={}
for i in s: ## i will be key and we have to check for i
    if i in "aeiouAEIOU":
        d[i]="vowel"
    else:
        d[i]="consonents"
d ## here h comes only 1 time because keys should be unique

enter the string khushi

{'k': 'consonents',
 'h': 'consonents',
 'u': 'vowel',
 's': 'consonents',
 'i': 'vowel'}

## wap to take the range from the user and taking each element as a key and its cube as corresponding value

In [22]:
start=int(input("enter the start "))
end=int(input("enter the end "))
d={}
for i in range(start,end+1):
    d[i]=i**3
d

enter the start 2
enter the end 10

{2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

## dict comprehension

In [23]:
{i:i**3 for i in range(start,end+1)}

{2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

## wap to take the range from the user and taking each pdd element and even element as a key and add odd and even corresponding to odd key and even key

In [24]:
{i:"even" if i%2==0 else "odd" for i in range(start,end+1)}

{2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even'}

## wap to sum of all the values in the dictationary

In [26]:
my_dict= {'data1':100,"data2":54,"data3":247}
sum1=0
for i in my_dict.values():
    sum1=sum1+i
print(sum1)

401

## d= {"aman":29,"ramesh":44,"khushi":18,"anmol":26,"shivangi":40}
## wap to print young if the age of the person is less than 40 and old if it is greater than 40 using list comprehension

In [32]:
d= {"aman":29,"ramesh":44,"khushi":18,"anmol":26,"shivangi":40}
{i:"adult" if j>40 else "young" for i,j in d.items()}

{'aman': 'young',
 'ramesh': 'adult',
 'khushi': 'young',
 'anmol': 'young',
 'shivangi': 'young'}

## zipping and unzipping

### zip(): it takes the items in sequence from a number of collections to make a list of tuples,where each tuple contains the items from each collection

In [ ]:
a1=["python","ds","st"]
a2=["programming","machine learning","testing"]
output: ["python programming","python machine learning","python testing","ds programming","ds machine learning","ds testing","st programming","st machine learning","st testing"]

In [33]:
a1=["python","ds","st"]
a2=["programming","machine learning","testing"]
main=[]
for i in a1:
    for j in a2:
        main.append(i+"   "+j)
main

['python   programming',
 'python   machine learning',
 'python   testing',
 'ds   programming',
 'ds   machine learning',
 'ds   testing',
 'st   programming',
 'st   machine learning',
 'st   testing']

In [36]:
output=["python programming","ds machine learning","st testing"]
l=list(zip(a1,a2))

In [38]:
l1=[]
for i in l:
    l1.append(i[0]+" "+i[1])
l1

['python programming', 'ds machine learning', 'st testing']

In [39]:
d1=dict(zip(a1,a2))
d1

{'python': 'programming', 'ds': 'machine learning', 'st': 'testing'}

In [41]:
l

[('python', 'programming'), ('ds', 'machine learning'), ('st', 'testing')]

In [43]:
list(zip(*l)) ## unzipping

[('python', 'ds', 'st'), ('programming', 'machine learning', 'testing')]

## wap to take the string from the user make each element of the string as key and corresponding ascci value is value

In [22]:
s=input("enter the string")
d={}
for i in s:
    d[i]=ord(i)
print(d)

enter the stringkhushi
{'k': 107, 'h': 104, 'u': 117, 's': 115, 'i': 105}

In [24]:
s=input("enter the string ")
d={}
{i:ord(i) for i in s}

enter the string madam

{'m': 109, 'a': 97, 'd': 100}

## make a dictaionary of this list
- l=[12,4.5,"hello","rajeev","hema",100]
- **agar int h toh int likha aa jye , agar string h toh unka count a jaye , age boolean h toh vo jaaye
- output  'int', 4.5: 'float', 'hello': 5, 'rajeev': 6, 'hema': 4, 100: 'int'}

In [94]:
l=[12,13,14.5,90,"khushi","anmol","rajeev","kiku",100]
count=0
n=0
d={}
l1=[]
for i in l:
    if type(i)==int:
        d[i]="int"
    elif type(i)==float:
        d[i]="float"
    elif type(i)==str:
        l1=len(i)
        d[i]=l1
    elif type(i)==bool:
        d[i]=int(not(i))
    
print(d)

{12: 'int', 13: 'int', 14.5: 'float', 90: 'int', 'khushi': 6, 'anmol': 5, 'rajeev': 6, 'kiku': 4, 100: 'int'}

In [90]:
l=[12,13,14.5,90,"khushi","anmol","rajeev","kiku",100]
l1=[]
for i in l:
    if type(i)==str:
        l1=len(i)
        d[i]=l1
d

{'khushi': 6,
 12: 0,
 13: 0,
 14.5: 0,
 90: 0,
 'anmol': 5,
 'rajeev': 6,
 'kiku': 4,
 100: 4}

## num = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}


{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

In [71]:
n={"n1":[2, 3, 1],"n2": [5, 1, 2], "n3": [3, 2, 4]}
n

{'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}

In [83]:
m=n.get("n1")
m1=sorted(m)
l=n.get("n2")
l1=sorted(l)
p=n.get("n3")
p1=sorted(p)
n["n1"]=m1
n["n2"]=l1
n["n3"]=p1
print(n)

[1, 2, 3]
[1, 2, 5]
[2, 3, 4]
{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

## #Write a Python program to remove spaces from dictionary keys and depict the keys in dict in int form
d={"1 0":"ten","2 6":"twentysix"}
Output: {10,”ten”,26:”twentysix}

In [98]:
d={"1 0":"ten","2 6":"twentysix"}
m=d.keys()
m

dict_keys(['1 0', '2 6'])

In [103]:
d1=list(d)

In [105]:
d2=str(d1)
d2

"['1 0', '2 6']"

In [106]:
d3=d2.replace(" ","")

"['10','26']"