# jump statements
 - break
 - continue
 - pass

### break:whenever the interpreter encounters the break in the loop then it terminates the loop at that moment
### continue: whenever the interpreter encounters the countinue it does not terminate the loop while it skips off all the statements of the loop followed by it and passes the control to the next iteration
### pass:nothing

## wap to display all the numbers in the list until u find a number which is to be given by user
l=[12,13,14,15,17,90]

In [3]:
l=[12,13,14,15,17,90]
num=int(input("enter the num"))
for i in l:
    if i==num:
        break
    print(i)

enter the num78
12
13
14
15
17
90

In [1]:
## output based question on break and continue in phython

## wap to display all the numbers in the list except a number which is to be given by user
l=[12,13,14,15,17,90]

In [4]:
l=[12,13,14,15,17,90]
num=int(input("enter the num"))
for i in l:
    if i==num:
        continue
    print(i)

enter the num15
12
13
14
17
90

## wap to display all the number until u find the first number which is divisible by 5 in the list

In [34]:
num=int(input("enter the number"))
l=[12,17,19,20,56,27,30,91,90,8]
for i in l:
    if i%5!=0:
        pass
    elif i%5==0:
        break
    print(i)

enter the number17
12
17
19

## wap to display all the number until u find the 2nd number which is divisible by 5 in the list

## l =[12,17,19,20,56,27,30,91,90,8]

In [49]:
num=int(input("enter the number"))
l=[12,17,19,20,56,27,30,91,90,8]
count=0
for i in l:
    count=count+1
    if i%5!=0:
        pass
    elif i==30:
        break
    print(i)

enter the number30
12
17
19
20
56
27

## pass

In [39]:
num=int(input("enter the number"))
if num==7:
    pass
elif num==9:
    print("hello")

enter the number 9
hello

# while question

## wap to add the sum of the numbers which is to be taken from user until it is zero

In [51]:
add=0
while(True):
    num=int(input("enter the number"))
    add=add+num
    if num==0:
        break
    else:
        continue
print("the sum is",add)

enter the number56
enter the number56
enter the number0
the sum is 112

## wap to check the validity of password and username and gives 5 attempts to user otherwise display u tried too much.

In [63]:
## create a signup page
username=input("enter the username")
password=input("enter the password")

enter the username khushi sarin
enter the password khushisarin123

In [100]:
## login page
attempt=0
while(True):
    usern=input("enter the username")
    passw=input("enter the password")
    if usern==username and passw==password:
        print("login successful\n\n","welcome",usern)
        break
    else:
        print("invalid input","  ","try again\n\n")
        attempt=attempt+1
        if attempt<5:
            continue
        else:
            print("u have reached the limits")
            break

enter the username khuhsi
enter the passwordbisuchdw
invalid input    try again


enter the usernamencuiwech
enter the passwordnciuweh
invalid input    try again


enter the usernamekhushi sarin
enter the password khushisarin123
invalid input    try again


enter the username khushi sarin
enter the password khushisarin123
login successful

 welcome  khushi sarin
'n

# nested loop

## wap to display the table of all the numbers in the range entered by user

In [57]:
start=int(input("enter the start"))
end=int(input("enter the end"))
for num in range(start,end+1):
    for i in range(1,11):
        print(num,"*","i","=",num*i)
    print("--------------------------------")

enter the start8
enter the end9
8 * i = 8
8 * i = 16
8 * i = 24
8 * i = 32
8 * i = 40
8 * i = 48
8 * i = 56
8 * i = 64
8 * i = 72
8 * i = 80
--------------------------------
9 * i = 9
9 * i = 18
9 * i = 27
9 * i = 36
9 * i = 45
9 * i = 54
9 * i = 63
9 * i = 72
9 * i = 81
9 * i = 90
--------------------------------

In [70]:
l=["apple","cherry","blueberry","chiku"]
# task:::: count the total vowels in the list
count=0
for fruits in l:
    for i in fruits:
        if i in "aeiouAEIOU":
            count=count+1
print("the count is",count)

the count is 8

## task : count the vowels in each fruit

In [16]:
l=["apple","cherry","blueberry","chiku"]
count=0
for i in l:
        if i in "aeiouAEIOU":
            count=count+1
print("the total count of vowels are",count)

the total count of vowels are 0

# pattern question

In [ ]:
####
####
####
####

In [72]:
for row in range(1,5):
    for col in range(1,5):
        print("#",end="")
    print()

####
####
####
####

In [ ]:
@@@@@
@@@@@
@@@@@

In [73]:
for row in range(1,4):
    for col in range(1,6):
        print("@",end="")
    print()

@@@@@
@@@@@
@@@@@

### for dynamic

In [75]:
size=int(input("enter the size"))
for row in range(1,size+1):
    for col in range(1,size+1):
        print("#",end="")
    print()

enter the size 6
######
######
######
######
######
######

In [ ]:
1111
2222
3333
4444

In [76]:
for row in range(1,5):
    for col in range(1,5):
        print(row,end="")
    print()

1111
2222
3333
4444

In [78]:
1234
5678
9101112
13141516
count=0
for row in range(1,5):
    for col in range(1,5):
        count=count+1
        print(count,end="")
    print()

1234
5678
9101112
13141516

In [84]:
#abcd
#abcd
#abcd
#abcd
for row in range(1,5):
    ch=97
    for col in range(1,5):
        print(chr(ch),end="")
        ch=ch+1
    print()

abcd
abcd
abcd
abcd

In [12]:
#pppp
#qqqq
#rrrr
#ssss
for row in range(1,5):
    ch=112
    for col in range(1,5):
        print(chr(ch),end="")
        ch=ch+1
    print()

pqrs
pqrs
pqrs
pqrs

In [86]:
1010
1010
1010
1010

1010

In [87]:
n=True
for i in range(1,5):
    for j in range(1,5):
        n=int(n)
        print(n,end="")
        n=not(n)
    print()

1010
1010
1010
1010

In [ ]:
#
##
###
####

In [88]:
for row in range(1,5):
    for col in range(1,row):
        print("*",end="")
    print()

*
**
***

In [89]:
size=int(input("enter the size"))
for row in range(1,size):
    for col in range(1,row):
        print("*",end="")
    print()

enter the size20

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************

In [18]:
####
###
##
#
for row in range(4,-1,-1):
    for col in range(row,4):
        print("#",end=",")

#,#,#,#,#,#,#,#,#,#,

In [ ]:
9999
888
77
6
for row in range(4,-1,-1):
    for col in range()

## wap to calculate the factorial of the number entered by user(while,for dono se karna h)

In [2]:
num=int(input("enter the number"))
i=1
while(i<=num):
    if num%i==0:
        print(i,"is the factor of",num)
    i=i+1

enter the number6
1 is the factor of 6
2 is the factor of 6
3 is the factor of 6
6 is the factor of 6

In [4]:
num=int(input("enter the number"))
for i in range(1,num+1):
    if num%i==0:
        print(i,"is the factor of",num)

enter the number 8
1 is the factor of 8
2 is the factor of 8
4 is the factor of 8
8 is the factor of 8

## wap to display hello if user enter p and ask the input again,display hi if user enters other alphabet and ask the input again until it enter enters q means quit and also show how many times p displayed and other character diaplayed

In [14]:
countp=0
counto=0
i="p"
j="q"
while(True):
    ch=input("enter the character")
    if ch==i:
        countp=countp+1
        print("hello")
    elif ch==j:
        print("quit")
        counto=counto+1
        break
    else:
        print("hi")
        counto=counto+1
print("total times p entered",countp)
print("total times other entered",counto)

enter the characterp
hello
enter the characterq
quit
total times p entered 1
total times other entered 1