## list:
- list is ordered collections of multiple data which is of same type or different type

- property : mutable data type: changes are allowed

## indexing

In [2]:
l=["happy","sad",["angry","surprise"],90,90.8,True]
l

['happy', 'sad', ['angry', 'surprise'], 90, 90.8, True]

In [5]:
a=l[0]

In [6]:
a

'happy'

In [9]:
a[0:5:2]

'hpy'

In [10]:
## or
l[0][0:5:2]

'hpy'

In [12]:
## if dynamic
l[0][0:len(l[0]):2]

'hpy'

## slicing

In [13]:
l[2:-1]

[['angry', 'surprise'], 90, 90.8]

In [14]:
l[2:-6]

[]

In [15]:
l[-3:-5:2]

[]

In [16]:
l[-4][1][1:9:4]

'ui'

In [17]:
l[-6]

'happy'

## list property: mutable : changes are allowed in the list

In [1]:
l=[1,2,3,4,5,6,7]
print(l)
print(id(l))
print("after updation")
l[-1]=1000
print(l)
print(id(l))

[1, 2, 3, 4, 5, 6, 7]
2785443243200
after updation
[1, 2, 3, 4, 5, 6, 1000]
2785443243200

## iteration on list

In [3]:
l=[1,2,3,4]
for i in l:
    print(i)

1
2
3
4

## common function
- len()
- max()
- min()
- sorted()
- sum()
-del

In [6]:
l=[1,2,3,4,5,6,90,88,56,23]

In [7]:
len(l)

10

In [8]:
max(l)

90

In [9]:
min(l)

1

In [10]:
sorted(l) ## by default in aesc order

[1, 2, 3, 4, 5, 6, 23, 56, 88, 90]

In [11]:
sum(l)

278

In [15]:
sorted(l,reverse=True) ## if we write reverse= true it gives in desc order

[90, 88, 56, 23, 6, 5, 4, 3, 2, 1]

In [16]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## how to add the element in the list
- append
- extend
- insert

## append: to add the single element in the list in the end

In [19]:
l=[12,13,14,17,19]
e=input("enter the element you wan to add in the list ")
l.append(e)
l

enter the element you wan to add in the list khushui

[12, 13, 14, 17, 19, 'khushui']

In [20]:
l=[12,13,14,17,19]
e=input("enter the element you wan to add in the list ")
l.append(e)
l

enter the element you wan to add in the list 46

[12, 13, 14, 17, 19, '46']

## extend: is used to add the multiple elements in the list in the end fashion

In [21]:
ll=[12,13,14,17,19]
l.extend([100,200,300])
l

[12, 13, 14, 17, 19, '46', 100, 200, 300]

In [32]:
l=[12,13,14,17,19]
e=input("enter the element you wan to add in the list ")
l1=[]
l1.append(e)

l.append(l1)
l

enter the element you wan to add in the list khushi

[12, 13, 14, 17, 19, ['khushi']]

In [27]:
ll=[12,13,14,17,19]
l.append([100,200,300])
l

[12, 13, 14, 17, 19, 'khuhsi', [100, 200, 300]]

In [28]:
ll=[12,13,14,17,19]
l.extend('hello')
l

[12, 13, 14, 17, 19, 'khuhsi', [100, 200, 300], 'h', 'e', 'l', 'l', 'o']

## insert: to add the elements at the particular position

In [33]:
l=[12,13,14,15,90]
e=input("enter the element u wan to add")
pos=int(input("enter the pos at which the element is to be added"))
l.insert(pos,e)
l

enter the element u wan to add45
enter the pos at which the element is to be added2

[12, 13, '45', 14, 15, 90]

## how to take list from user

In [34]:
l=input("enter the nums to be sdded in list").split()
l

enter the numbers in the list12 45 67 89 30

['12', '45', '67', '89', '30']

In [35]:
l=input("enter the nums to be sdded in list").split(",")
l

enter the nums to be sdded in list12,45,33,45,67,89

['12', '45', '33', '45', '67', '89']

## sum of the elements of the list taken by user

In [36]:
l=input("enter the nums to be sdded in list").split(",")
l

enter the nums to be sdded in list12,13,14,15,16,17

['12', '13', '14', '15', '16', '17']

In [37]:
l1=[]
for i in l:
    j=int(i)
    l1.append(j)
l1

[12, 13, 14, 15, 16, 17]

In [39]:
sum(l1)

87

# enter the list from user

In [41]:
n=int(input("enter the number of marks"))
l=[]
for i in range(1,n+1):
    m=int(input("enter the marks"))
    l.append(m)
l

enter the number of marks3
enter the marks12
enter the marks13
enter the marks13

[12, 13, 13]

## nested list(list ke andar list from user)

In [43]:
student=[]
n=int(input("enter the number of students  "))
for i in range(1,n+1):
    student_detail=[]
    marks=[]
    name=input("enter the name of student ")
    age=int(input("enter the age of student "))
    gender=input("enter the gender")
    for j in range(1,4):
        m=int(input("enter the marks  "))
        marks.append(m)
    student_detail.append(name)
    student_detail.append(age)
    student_detail.append(gender)
    student_detail.append(marks)
    student.append(student_detail)
student

enter the number of students  2
enter the name of student khushi
enter the age of student 21
enter the genderf
enter the marks  12
enter the marks  13
enter the marks  14
enter the name of student anmol
enter the age of student 19
enter the genderm
enter the marks  12
enter the marks  12
enter the marks  14

[['khushi', 21, 'f', [12, 13, 14]], ['anmol', 19, 'm', [12, 12, 14]]]

## how to delete element from the list
- pop
- remove
- del
- clear

## pop

In [44]:
l=[12,13,14,15,16]
e=int(input("enter the element u want to delete"))
pos=l.index(e)
deleted=l.pop(pos) ## it deletes the element based on pos
print(deleted)
l

enter the element u want to delete 13
13

[12, 14, 15, 16]

In [45]:
l=[12,13,14,15,16]
d=l.pop() ## it deleted the last element by default
l
print(d)
print(l)

16
[12, 13, 14, 15]

## remove

In [47]:
l=[12,13,14,15,16]
l.remove(12)
l

[13, 14, 15, 16]

## clear

In [49]:
l=[12,13,14,15,16] ## it deletes the elements of  list and givies empty list
l.clear() ## clear will delete all the list and give empty list
l

[]

## del

In [50]:
l=[12,13,14,15,16]
del l[2] ## delete will delete the whole list but will not return empty list
l

[12, 13, 15, 16]

In [51]:
l=[12,13,14,15,16]
del l

In [2]:
l=[12,13,14,15,16]
del l[0:2]
l

[14, 15, 16]

In [53]:
l ## deleted removes whole list

NameError: name 'l' is not defined

# **agar koi new list banani h toh empty list lenge aur append se usko fill karwayenge

# either we can use split or append to make new list

## *count-it tells the occurence of each element in the list

In [1]:
l=[12,12,13,134,15,25,27,57,67,57,57]
l.count(27)

1

In [2]:
for i in l:
    print(i,"..........",l.count(i))

12 .......... 2
12 .......... 2
13 .......... 1
134 .......... 1
15 .......... 1
25 .......... 1
27 .......... 1
57 .......... 3
67 .......... 1
57 .......... 3
57 .......... 3

In [4]:
from collections import Counter
Counter(l)

Counter({12: 2, 13: 1, 134: 1, 15: 1, 25: 1, 27: 1, 57: 3, 67: 1})

## reverse

In [5]:
l=["hello",13,14,15,"hi"]
l.reverse()
l

['hi', 15, 14, 13, 'hello']

## sort():sorting the element of the list in increasing or decreasing
### d/w b/w sort and sorted is:
- 1-sorted is used in every function like string,list,etc
- 2-if we want to do with sorted then we have to explicitly store it in a variable

In [8]:
l=[13,14,15]
l.sort()
l

[13, 14, 15]

In [9]:
l=[13,14,15]
l1=sorted(l)
l1

[13, 14, 15]

## copy

In [11]:
l=[13,14,15]
l1=l.copy() ##deep copy
print(l)
print(l1)
l1[-1]=100
print("after updatoi")
print(l)
print(l1)

[13, 14, 15]
[13, 14, 15]
after updatoi
[13, 14, 15]
[13, 14, 100]

In [12]:
l=[13,14,15]
l1=l ## shalow copy
print(l)
print(l1)
l1[-1]=100
print("after updatoi")
print(l)
print(l1)

[13, 14, 15]
[13, 14, 15]
after updatoi
[13, 14, 100]
[13, 14, 100]

## list comprehsion - short way to write the code

### wap to display the square of numbers in the list entered by user in the range

In [1]:
l=[]
l1=[]
n=int(input("enter the number of elements you want in the list "))
for i in range(1,n+1):
    i=int(input("enter the number "))
    l.append(i)
l
for i in l:
    l1.append(i**2)
l1

enter the number of elements you want in the list 4
enter the number 1
enter the number 2
enter the number 3
enter the number 4

[1, 4, 9, 16]

In [2]:
l=[]
l1=[]
n=int(input("enter the number of elements you want in the list "))
for i in range(1,n+1):
    i=int(input("enter the number "))
    l.append(i)
[i**2 for i in l] ## jo bhi aapka output hoga that we have to write befor the loop

enter the number of elements you want in the list 4
enter the number 1
enter the number 2
enter the number 3
enter the number 4

[1, 4, 9, 16]

## if we want in range

In [4]:
start=int(input("enter the start "))
end=int(input("enter the end "))
l=[]
for i in range(start,end+1):
    l.append(i**2)
l

enter the start 1
enter the end 6

[1, 4, 9, 16, 25, 36]

In [2]:
start=int(input("enter the start "))
end=int(input("enter the end "))
[i**2 for i in range(start,end+10)]

enter the start 2
enter the end 10

[4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

## wap to display the even numbers and odd corresponding to odd numbers in the range entered by user

In [4]:
start=int(input("enter the start "))
end=int(input("enter the end "))
[i if i%2==0 else "odd" for i in range(start,end+1)] ## jo bhi if ki body hogi wo if se phele aayegi aur else ki body else ke baad fir loop aayega

enter the start 1
enter the end 15

['odd',
 2,
 'odd',
 4,
 'odd',
 6,
 'odd',
 8,
 'odd',
 10,
 'odd',
 12,
 'odd',
 14,
 'odd']

## wap to display the even numbers and odd corresponding to odd numbers in the range entered by user and do the square of even

In [5]:
start=int(input("enter the start "))
end=int(input("enter the end "))
[i**2 if i%2==0 else "odd" for i in range(start,end+1)]

enter the start 1
enter the end 15

['odd',
 4,
 'odd',
 16,
 'odd',
 36,
 'odd',
 64,
 'odd',
 100,
 'odd',
 144,
 'odd',
 196,
 'odd']

In [6]:
l=[12,13,14,15,17,18,19]
[i+3 for i in l[2:5]]

[17, 18, 20]

## wap to display all the fruits that start with a

In [5]:
fruits=input("enter the fruits ").split()
fruits

enter the fruits apple mango chiku avacado orrange

['apple', 'mango', 'chiku', 'avacado', 'orrange']

In [6]:
[i for i in fruits if i[0]=="a"]

['apple', 'avacado']

 ## **agar sirf if condition hogi to for loop ke baad likha jayega and if there is else condition also then both if and else condition will be written before loop and output will always be before loop

In [7]:
## or
[i for i in fruits if i.startswith("a")]

['apple', 'avacado']

## wap to enter the age of user anf if age>40 adult and id age<40 young

In [10]:
age=[]
for i in range(1,7):
    a=int(input("enter the age "))
    age.append(a)
age

enter the age 12
enter the age 4
enter the age 5
enter the age 56
enter the age 78
enter the age 90

[12, 4, 5, 56, 78, 90]

In [11]:
### using list comprehend
["adult" if i>40 else "young" for i in age]

['young', 'young', 'young', 'adult', 'adult', 'adult']

In [13]:
[f"{i}   adult "if i>40 else f"{i}   young" for i in age]

['12   young',
 '4   young',
 '5   young',
 '56   adult ',
 '78   adult ',
 '90   adult ']

## wap to display those names of students which are palindrome

In [14]:
l=input("enter the students ").split()
l

enter the students aba noor tanvi nitin jai

['aba', 'noor', 'tanvi', 'nitin', 'jai']

In [15]:
[i for i in l if i==i[::-1]]

['aba', 'nitin']

## wap to display the smallest lenght of the fruit among the fruits name

In [17]:
l=input("enter the fruits ").split()
l

enter the fruits avacado litchi grapes mango banana orange cheeku

['avacado', 'litchi', 'grapes', 'mango', 'banana', 'orange', 'cheeku']

In [20]:
length=[]
for i in l:
    le=len(i)
    length.append(le)
length

[7, 6, 6, 5, 6, 6, 6]

In [21]:
l1=min(length)
print(l1)

5

## wap to display the unique student names in the list or remove the duplicants

In [23]:
l=input("enter the students name ").split()
unique=[]
for i in l:
    if i not in unique:
        unique.append(i)
unique

enter the students name jai leena heena tanvi tanvi heena

['jai', 'leena', 'heena', 'tanvi']

## 1-wap to count the vowels in total in the list

In [11]:
l=input("enter the words ").split()
l

enter the words khushi hello hi shivangi anmol teacher

['khushi', 'hello', 'hi', 'shivangi', 'anmol', 'teacher']

In [26]:
count_v=0
count_c=0
for i in l:
    for j in i:
        if j in "AEIOUaeiou":
            count_v=count_v+1
        else:
            count_c=count_c+1
print("total vowels are ",count_v)
print("total consonents are ",count_c)

total vowels are  15
total consonents are  13

## wap to count the vowels and consonents in each word of the list

In [1]:
l=['khushi', 'hello', 'hi', 'shivangi', 'anmol', 'teacher']
for i in l:
    count_v=0
    count_c=0
    for j in i:
        if j in "AEIOUaeiou":
            count_v=count_v+1
        else:
            count_c=count_c+1
    print("total vowels in",i,"are ",count_v)
    print("total consonents in ",i,"are",count_c)

total vowels in khushi are  2
total consonents in  khushi are 4
total vowels in hello are  2
total consonents in  hello are 3
total vowels in hi are  1
total consonents in  hi are 1
total vowels in shivangi are  3
total consonents in  shivangi are 5
total vowels in anmol are  2
total consonents in  anmol are 3
total vowels in teacher are  3
total consonents in  teacher are 4

## s="hi how r u hope u r doing good i love python programming language"
## task 1: remove the duplicants words
## task 2: find the most active word
## task 3: remove the duplicants letters and display those distinct letters in string or list

In [28]:
## task1
s="hi how r u hope u r doing good i love python programming language"
l=s.split()
l

['hi',
 'how',
 'r',
 'u',
 'hope',
 'u',
 'r',
 'doing',
 'good',
 'i',
 'love',
 'python',
 'programming',
 'language']

In [29]:
unique=[]
for i in l:
    if i not in unique:
        unique.append(i)
unique

['hi',
 'how',
 'r',
 'u',
 'hope',
 'doing',
 'good',
 'i',
 'love',
 'python',
 'programming',
 'language']

In [30]:
len(unique)

12

In [31]:
## task2
from collections import Counter

In [32]:
Counter(l)

Counter({'hi': 1,
         'how': 1,
         'r': 2,
         'u': 2,
         'hope': 1,
         'doing': 1,
         'good': 1,
         'i': 1,
         'love': 1,
         'python': 1,
         'programming': 1,
         'language': 1})

In [38]:
## task3-
s1=s.replace(" ","")
s1
unique1=""
for i in s1:
    if i not in unique1:
        unique1=unique1+i
unique1

'hiowrupednglvytam'

In [39]:
list(unique1)

['h',
 'i',
 'o',
 'w',
 'r',
 'u',
 'p',
 'e',
 'd',
 'n',
 'g',
 'l',
 'v',
 'y',
 't',
 'a',
 'm']

# interview question

# Expected Output :  [1,2,3,4,5,6,7,8,9]

# sample Input 
l=[[1,2,3],[[[4,5,6]]],[[[[[[7,8,9]]]]]]]

In [12]:
l=[[1,2,3],[[[4,5,6]]],[[[[[[7,8,9]]]]]]]
l1=str(l)
l1

'[[1, 2, 3], [[[4, 5, 6]]], [[[[[[7, 8, 9]]]]]]]'

In [13]:
l=str(l)
l
l=l.replace("[","")
l
l=l.replace("]","")
l
l=l.replace(", ","")
l

'123456789'

In [14]:
l1=[]
for i in l:
    j=int(i)
    l1.append(j)
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]