# range (): inbuilt function which generates the sequence of numbers
### in range we have 3 things in argument:
 - start- we have to mention the starting point of range
 - end- we have to mention the ending point of range. by default end will always show  -1 from the value,so we can write the end num by adding 1 num in it to get our list
 - ****it is mandatory to give end in range. if we do not give start and skip and gives only 1 num,it will by default take it as
    end and by default it will take 0 as start and 1 skip size*****
 - step size- it means the gap between the numbers/elements

In [1]:
range(1,9) ## to get the ans we need to do the type casting means in which form we want ans(like-list,tuple)

range(1, 9)

In [2]:
list(range(1,9))## here we have given only start and end, so by default it will take step size - 1

[1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
list(range(9))## here we have given only single num ,so it will treat it as end and start point will be 0

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
list(range(4,15,2))## here start is 4, end is 15 and step size is 2.

[4, 6, 8, 10, 12, 14]

In [3]:
list(range(2,10,-2))## negative step sixe indicates to move in opposite direction(reverse)
## -ve step size indicates for getting the numbers in reverse direction
## here the list shown is empty because we are saying to move that in opposites direction

[]

In [4]:
list(range(10,4,-1))

[10, 9, 8, 7, 6, 5]

In [5]:
list(range(10,2,-2))

[10, 8, 6, 4]

In [9]:
list(range(20,-2,2)) ## here the output is empty because we have given range to move in -ve direction but step size is +ve.so it will be empty

[]

In [10]:
list(range(20,-2,-2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [11]:
l=list(range(20,-2,-2))

In [12]:
l

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

## LOOPS: repition
 - for loop
 - while loop
  - **** iterations means the time variable will enter in loop ****

### task: print("hello") 10 time

In [2]:
for i in range(1,11): ## here i means variable
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [3]:
for vipin in range(1,11):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [4]:
for k in range(10,1,-1):
    print("hello khushi")

hello khushi
hello khushi
hello khushi
hello khushi
hello khushi
hello khushi
hello khushi
hello khushi
hello khushi

In [5]:
for j in range(20,30,1): ## if we want hello to print 10 times in same line we will do like this
    print("hello",end=",")

hello,hello,hello,hello,hello,hello,hello,hello,hello,hello,

In [7]:
print(j) ## here the value of j is 29 because j will take last num in the container and treat it as its value

29

In [8]:
for l in range(1,10,2):
    print("hello")

hello
hello
hello
hello
hello

In [13]:
for d in range(20,10): ## here there is no output because we didnt mention the -ve step 
    print("hi")

In [14]:
for i in range(20,10,-7): ## 20 will include and next will be 13
    print("hello")

hello
hello

## wap to display counting from 1 to 15 in one line

In [16]:
for i in range(1,16):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

## if we want user to enter the nums

In [18]:
start=int(input("enter the start"))
end=int(input("enter the end"))
for i in range(start,end+1):
    print(i,end=" ")

enter the start30
enter the end45
30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45

## wap to display all the even numbers from 1 to 10

In [27]:
for i in range(1,11):
    if i%2==0:
        print(i,"is even",end=", ")
    else:
        print(i,"is odd",end=", ")

1 is odd, 2 is even, 3 is odd, 4 is even, 5 is odd, 6 is even, 7 is odd, 8 is even, 9 is odd, 10 is even,

## wap to display all the nums between the range entered by user which are divisible by 5 and 7 both and divisible by 5 only

In [35]:
start=int(input("enter the start"))
end=int(input("enter the end"))
print("\n")
for i in range(start,end+1):
    if i%5==0 and i%7==0:
        print(i,"-"," divisible by both")
    elif i%5==0:
        print(i,"-"," divisible by 5 only")
    elif i%7==0:
        print(i,"-"," divisble by 7 only")
    else:
        print(i,"-","not divisible by any")

enter the start 5
enter the end 15


5 -  divisible by 5 only
6 - not divisible by any
7 -  divisble by 7 only
8 - not divisible by any
9 - not divisible by any
10 -  divisible by 5 only
11 - not divisible by any
12 - not divisible by any
13 - not divisible by any
14 -  divisble by 7 only
15 -  divisible by 5 only

## wap to display the table of the number entered by user

In [36]:
num=int(input("enter the number"))
print("the table of",num,"is\n")
for i in range(1,11):
    print(num,"*",i,"=",num*i)

enter the number 8
the table of 8 is

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

## wap to display the counting from the range entered by user in reverse order

In [10]:
end=int(input("enter the ending number"))
start=int(input("enter the starting number"))
for i in range(start,end-1,-1):
    print(i)

enter the ending number80
enter the starting number90
90
89
88
87
86
85
84
83
82
81
80

## wap to display the table of the number entered by user in reverse manner

In [8]:
num=int(input("enter the number"))
print("the reverse table of",num,"is")
for i in range(10,0,-1):
    print(num,"*",i,"=",num*i)

enter the number 60
the reverse table of 60 is
60 * 10 = 600
60 * 9 = 540
60 * 8 = 480
60 * 7 = 420
60 * 6 = 360
60 * 5 = 300
60 * 4 = 240
60 * 3 = 180
60 * 2 = 120
60 * 1 = 60

## wap to display the first 10 even nos.

In [5]:
for i in range(1,21):
    if i%2==0:
        print(i,"is even",end=", ")

2 is even, 4 is even, 6 is even, 8 is even, 10 is even, 12 is even, 14 is even, 16 is even, 18 is even, 20 is even,

## wap to display the whole numbers till 15

In [5]:
for i in range(0,16,1):
    print("whole  nums are\n",  i)

whole  nums are
 0
whole  nums are
 1
whole  nums are
 2
whole  nums are
 3
whole  nums are
 4
whole  nums are
 5
whole  nums are
 6
whole  nums are
 7
whole  nums are
 8
whole  nums are
 9
whole  nums are
 10
whole  nums are
 11
whole  nums are
 12
whole  nums are
 13
whole  nums are
 14
whole  nums are
 15

## wap to count the even nums and odd nums from the range entered by user

In [16]:
start=int(input("enter the starting num"))
end=int(input("enter the end num"))
count_e=0
count_o=0
for i in range(start,end,1):
    if i%2==0:
        count_e=count_e+1
    else:
        count_o=count_o+1
print("the count of even num is",count_e)
print("the count of odd num is",count_o)

enter the starting num90
enter the end num200
the count of even num is 55
the count of odd num is 55

## wap to display the factors of the num entered by user and also display the count of the factors of that number

In [18]:
num=int(input("enter the number"))
count=0
for i in range(1,num+1):
    if num%i==0:
        print(i,"is the factor of",num)
        count=count+1
print("the count of factors are",count)

enter the number90
1 is the factor of 90
2 is the factor of 90
3 is the factor of 90
5 is the factor of 90
6 is the factor of 90
9 is the factor of 90
10 is the factor of 90
15 is the factor of 90
18 is the factor of 90
30 is the factor of 90
45 is the factor of 90
90 is the factor of 90
the count of factors are 12

## wap to display whether the entered num is prime or composite

In [20]:
num=int(input("enter the number"))
count=0
for i in range(1,num+1):
    if num%i==0:
        count=count+1
if count==2:
    print(num,"is prime as it has",count,"factors")
else:
    print(num,"is composite as it has",count,"factors which is greater than 2")

enter the number67
67 is prime as it has 2 factors

## for loop: with sequence like list,string,tuple

In [21]:
s="khushi sarin"
#task: display the vowel and consonent in the string

In [24]:
k=input("enter the string")
count_v=0
count_c=0
for ch in k:
    if ch in "aeiouAEIOU":
        print(ch,"is vowel")
        count_v=count_v+1
    else:
        print(ch,"is consonent")
        count_v=count_c+1
print("the count of vowels is",count_v)
print("the count of consonents is ",count_c)

enter the string laksham
  is consonent
l is consonent
a is vowel
k is consonent
s is consonent
h is consonent
a is vowel
m is consonent
the count of vowels is 1
the count of consonents is  0

## wap to display the count of even  and even nums in the list 
l=[12,14,15,16,17,100]

In [27]:
l=[12,14,15,16,17,100]
count_e=0
count_o=0
for num in l:
    if num%2==0:
        count_e=count_e+1
    else:
        count_o=count_o+1
print("the total even nos. are",count_e)
print("the total odd nos. are",count_o)

the total even nos. are 4
the total odd nos. are 2

## wap to display the sum of the numbers present in the list

In [29]:
l=[3,4,67,89,90]
add=0
for i in l:
    add=add+i
print("the sum of nos are",add)

the sum of nos are 253

In [30]:
## or 
sum(l)

253

## wap to display the average of those nos which are divisible by 5 and display the sum of those nos which are divisible by 6 only only in the list

In [43]:
l=[12,5,6,8,90]
sum1=0
sum2=0
count_5=0
for i in l:
    if i%5==0 and i%6!=0:
        sum1=sum1+i
        count_5=count_5+1
    elif i%6==0 and i%5!=0:
            sum2=sum2+i
print("the average of nos divisible by 5 only",sum1/count_5)
print("the sum of nos divisible by 6 only",sum2)

the average of nos divisible by 5 only 5.0
the sum of nos divisible by 6 only 18

## wap to display the sum of last digit of each numbers present in the given list
l=[12,13,678,902]

In [12]:
l=[12,13,678,902]
sum1=0
for i in l:
    ld=i%10
    sum1=sum1+ld
print("the sum is ",sum1)

the sum is  15