## comment

comment : it is used to give the description to your code. that makes the code readable and understandable.
this comment is ignored by interpreter.

## types of comments
- single line comment
- multi line comment

single line comment-#

In [3]:
# this is my program
print ("hello")

hello

In [ ]:
multiline comment - ''''''# 3 baar '' ye likhna h

In [2]:
'''this is my first program 
where i am displaying something '''
print ("hello") #print() is a inbuilt which is used to display hello here
print ("how r u ")

hello
how r u

# variable : it is a container which is used to hold the data 
or i can say that it is a named memory loaction

In [12]:
a=4#how to create the variable

In [13]:
a

4

In [4]:
a

4

In [5]:
a

4

In [6]:
a=9

In [7]:
a

9

# id() : it tells the address of the variable

In [14]:
id(a)

3092604977488

## identifier : naming rules of the variables/functions

- rule 1 : it should not start with digits.we can start with letter or one special character i.e_
- rule 2 : it allows any letters/digits/_anywhere

In [15]:
AV=3

In [16]:
AV

3

- rule 3: it should not be key words

In [17]:
if=4

SyntaxError: invalid syntax (1173836557.py, line 1)

In [18]:
IF= 4

In [19]:
IF

4

In [20]:
4a=3

SyntaxError: invalid decimal literal (143193357.py, line 1)

- rule 4:python is case sensitive , it could be of any length

In [22]:
_balmeet=90

In [23]:
_balmeet

90

In [25]:
@av=30 #no special case is allowed other than _

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (621417560.py, line 1)

In [26]:
khuhdijioero=30

In [27]:
khuhdijioero

30

# keywords : special words/reserved words which has implicit meaning

In [31]:
import keyword #keywords always appears in green colours
print (keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [35]:
try=30 # this error is showing because if it is a keyword, we cannot name variables keywords.Variables names should not be keywords

SyntaxError: expected ':' (170864204.py, line 1)

In [33]:
TRY = 30

In [34]:
TRY

30

# literals

In [36]:
a=80 ## here 80 is value / literal

## data types : it signifies the type of data that python supports


### 1-numeric 
- int
- float
- complex

In [46]:
#int
a=890
print(a)
print(type(a))
type(a)

890
<class 'int'>

int

In [47]:
a=150
print(24)
print(type(a))

24
<class 'int'>

In [49]:
## float : decimal
a=45
print (a)
print (type(a))

45
<class 'int'>

In [51]:
# complex : real+imaginary part
a=90+8j
print(a)
print(type(a))

(90+8j)
<class 'complex'>

## 2-sequence :
- string
- list
- tuple

### string
- using ''
- using ""
- using ''''''

In [1]:
a= 'madrid solution' # hum kabhi bhi "" ye ya '' ye use karte h strings mei
print (a)
print(type(a))

madrid solution
<class 'str'>

In [2]:
b="madrid solution"
print(b)
print(type(b))

madrid solution
<class 'str'>

In [3]:
## task 1: how'r u 
s= "how'r u" #agar text ke beech mei single ' ye use ho raha h toh hume " " ye lagana jaruri and vice versa
print (s)
print(type(s))

how'r u
<class 'str'>

In [4]:
#using ''''''
a= '''hi how r u 
python is interesting'''
print(a)
print(type(a))

hi how r u
python is interesting
<class 'str'>

## list ( it is the ordered collection of multiple data)

In [6]:
student=[23,"khushi",40.5,"f"] ## hetrogeneous list - elements are of diff types
print (student)
print(type(student))

[23, 'khushi', 40.5, 'f']
<class 'list'>

In [7]:
marks=[34,56,67] ##homogenous list - elements are of same type.
print(type(marks))

<class 'list'>

## tuple

In [9]:
## tuple
t=(12,'leena','f')
print (t)
print(type(t))

(12, 'leena', 'f')
<class 'tuple'>

## type casting : type conversions

In [11]:
#str to int
s="80"
print(type(s))
s1=int(s)
print(s1)
print(type(s1))

<class 'str'>
80
<class 'int'>

In [12]:
a="madrid" #error will appear because madrid do not have any numeric value to appear
print(type(a))
a1=int(a)
print(a1)
print(type(a1))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'madrid'

In [14]:
#int to str
b=90
print(type(b))
b1=str(b)
print(b)
print(type(b1))
b1

<class 'int'>
90
<class 'str'>

'90'

In [15]:
#float to str
c=90.4
print(type(c))
c1=str(c)
print(c1)
print(type(c1))

<class 'float'>
90.4
<class 'str'>

In [16]:
#string to float
d="30.567"
print(type(d))
d1=float(d)
print(d1)
print(type(d1))

<class 'str'>
30.567
<class 'float'>

In [17]:
#str to int
e="56.789"
print(type(e))
e1=float(e)
e2=int(e1)
print(e2)
print(type(e2))

<class 'str'>
56
<class 'int'>

In [20]:
#list to tuple
l=[12,45,78]
print(l)
print(type(l))
l1=tuple(l)
print(l1)
print(type(l1))

[12, 45, 78]
<class 'list'>
(12, 45, 78)
<class 'tuple'>

## boolean: true/false

In [23]:
a=True
print(a)
print(type(a))

True
<class 'bool'>

In [25]:
a1=int(a) #yaha 1 isliye show ho raha h kyuki true ki value 1 hoti h aur false ki value 0 hoti h  
print(a1)
print(type(a1))

1
<class 'int'>

print() ### kuch bhi display karane ke liye hum use karenge inbuilt function print
### description read karne ke liye - shift + table
- function ke andar jo bhi humne diya h unhe kehte h ARGUEMENTS
3 arguments in detail
- value- means the thing we write in code , we can give commas to write more values
- separator- by default sep provides space in text and if we want to seperate text using any special character then we can write it in "".
- end - /n means new line generate karna

print(12)

In [3]:
print(12, "hello")

12 hello

In [2]:
print(12,"hello",sep="-")

12-hello

In [1]:
print(12,"hello","python",sep="-",end="@@@")
print("how r u")
print("hello")

12-hello-python@@@how r u
hello

## note : in python any number can also be string if their is no mathematical operation going to take place. In python numbers can be string,float and int.
- for example - entering roll nos of students are both int and string but entering salaries of employees will only be int because their will be mathematical operations involved like avg salary, max salary etc
- agar qoutes mei hoga numerical data toh vo string hoga .
- whatever we write in '' or "" it becomes strings where it is a no or words

# input():

In [1]:
a=input("enter the number")##it takes the input from user and consider it in the form of string

enter the number45

In [3]:
a ## access that value in the container called as a

'45'

In [5]:
type(a) ##by default input shows the values in string

str

# operators
- arithmetic operators
- logical
- realtional/comparisons
- bit wise 
- shorthand
- special
   - membership
   - equality

## 1- arithmetic operators

In [1]:
'''we have written int here before input because in input function the output
comes in str by default and in str we cannot perform mathematical operations. so to change int from str we have written int before 
input'''

'we have written int here before input because in input function the output\ncomes in str by default and in str we cannot perform mathematical operations. so to change int from str we have written int before \ninput'

In [17]:
number1=int(input("enter the first number"))
number2=int(input("enter the second number"))
add=number1+number2
sub=number1-number2
mult=number1*number2
div=number1/number2
f_div=number1//number2
power=number1**number2
print("the addition of ",number1,"and",number2,"is",add)
print("the subtraction of ",number1,"and",number2,"is",sub)
print("the multiplication of ",number1,"and",number2,"is",mult)
print("the division of ",number1,"and",number2,"is",div)
print("the floor division of ",number1,"and",number2,"is",f_div)
print("the power of ",number1,"and",number2,"is",power)

enter the first number2
enter the second number 4
the addition of  2 and 4 is 6
the subtraction of  2 and 4 is -2
the multiplication of  2 and 4 is 8
the division of  2 and 4 is 0.5
the floor division of  2 and 4 is 0
the power of  2 and 4 is 16

### Q: 
Raj has 24 candies, simran has 34 candies, aditya has 21 candies . Candies would be equally distributed
How many candies need to be distributed to each of them and remaning candies need to given to diksha ?

In [5]:
raj=int(input("raj candies"))
simran=int(input("simran candies"))
aditya=int(input("aditya candies"))
add= raj+simran+aditya
print("the total candies are",add)
f_div=add//3
mod=add%3
print("the candies distributed equally between raj,simran and aditya are",f_div)
print("the remaning candies given to diksha are",mod)

raj candies 24
simran candies 34
aditya candies 21
the total candies are 79
the candies distributed equally between raj,simran and aditya are 26
the remaning candies given to diksha are 1

## 2-relational operators

In [ ]:
number1=int(input("enter the first number ")) 
number2=int(input("enter the second number "))
print("the greater ",number1>number2)
print("the greater or equal  ",number1>=number2)
print("the less ",number1<number2)
print("the less or equal ",number1<=number2)
print("the equal ",number1==number2)
print("the not equal ",number1!=number2)

## 3-logical
- and
- or 
- not

In [1]:
print("or",True or False)
print("or",True or True)
print("or",False or False)
print("or",False or True)

or True
or True
or False
or True

In [2]:
print("and",True and False)
print("and",True and True)
print("and",False and False)
print("and",False and True)

and False
and True
and False
and False

In [4]:
not(True)

False

In [5]:
not(False)

True

In [ ]:
## positive and negative nos are treated as true nd 0 is treated as false

In [6]:
number1=int(input("enter the first number"))
number2=int(input("enter the second number"))
number1 or number2

enter the first number67
enter the second number 78

67

In [12]:
##in the upper case the first number appears in output in "or" situation because "or" operator always take the 1st operant if its
##in true state(+ve or -ve nos) and if its in false state(o) then it will look the 2nd operator and gives the output accordingly.
##if the 1st no will be and 2nd is in true state then it will give 2nd no as an output

In [8]:
number1=int(input("enter the first number"))
number2=int(input("enter the second number"))
number1 or number2

enter the first number 0
enter the second number 89

89

In [9]:
number1=int(input("enter the first number"))
number2=int(input("enter the second number"))
number1 or number2

enter the first number -67
enter the second number 0

-67

In [10]:
number1=int(input("enter the first number"))
number2=int(input("enter the second number"))
number1 or number2

enter the first number -89
enter the second number89

-89

In [11]:
##In "AND" case if both the situations are true then only the output will be true.
## if any of the situation will be false the output will be false.
## the and operator will always consider the 2nd operant in case of true situation.

In [13]:
number1=int(input("enter the first number"))
number2=int(input("enter the second number"))
number1 and number2

enter the first number 60
enter the second number0

0

In [14]:
number1=int(input("enter the first number"))
number2=int(input("enter the second number"))
number1 and number2

enter the first number -78
enter the second number68

68

In [15]:
number1=int(input("enter the first number"))
number2=int(input("enter the second number"))
number1 and number2

enter the first number 0
enter the second number -68

0

In [16]:
number1=int(input("enter the first number"))
number2=int(input("enter the second number"))
number1 and number2

enter the first number 78
enter the second number10

10

In [17]:
not(0)

True

In [18]:
not(8)

False

## 4-bit wise : not recommended for data analytics
## 5- shorthand:
    - x+=y
   - expanded:x=x+y

## 6- special
 ### a) membership

- in
- not in

In [20]:
"m" in "madrid"

True

In [21]:
"mad" in "madrid"

True

In [22]:
"mda" in "madrid"

False

In [23]:
"12" in "64822012"

True

In [25]:
45 in "8390245" ##the error is showing bcoz 45 is in int state and 8390245 is in str state

TypeError: 'in <string>' requires string as left operand, not int

In [20]:
l=["khushi","vidushi","shivangi"]
l

['khushi', 'vidushi', 'shivangi']

In [21]:
"devender" in l

False

In [22]:
"khushi" in l

True

In [23]:
"khushi" not in l

False

In [24]:
"kanika" not in l

True

In [25]:
"khu" in l

False

### b) equally
 - is 
 - is not 
(##it simply compares the memory address of the data)

In [29]:
a=90
b=90
a is b

True

In [30]:
a=45
b=67
a is b

False

In [31]:
a=90
b=90
a is not b

False

In [35]:
a=45
b=34
print(id(a))
print(id(b))
a is not b

1544084457072
1544084456720

True

## escape sequence
escape sequence is a special characters if we use them as a part of string then they dont represent themself but they change the behaviour of string

In [1]:
print("hello,,,balmeet")

hello,,,balmeet

## \n: means to generate a new line

In [3]:
print("hello\nbalmeet")

hello
balmeet

In [4]:
#task : hello\nbalmeet

In [5]:
print("hello\\nbalmeet")

hello\nbalmeet

## \t: generates the tab(tab means 4 times space)

In [7]:
print("hello\tbalmeet")

hello	balmeet

In [8]:
print("hello\\tbalmeet")

hello\tbalmeet

## task: how'r u

In [10]:
print('how\'r u' )

how'r u

## task: how'' r u

In [11]:
print("how\"r u")

how"r u

## \b: backspace(means removing words or letters)

## task:madrid\bsolutions

In [13]:
print("madrid\\bsolutions")

madrid\bsolutions

In [14]:
print("hello\bmadrid")

hellomadrid

In [15]:
## we can also use r in replace of \

In [16]:
print(r"madridsoltions\bs")## r making raw strings

madridsoltions\bs

In [17]:
print("hello\\balmeet")

hello\balmeet