### Sets


## What is Sets? :: Sets are unordered collection of data  enclosed in {}


### properties of sets

- Set elements are unique. Duplicate elements are not allowed.
- No indexing and slicing(means once you added th elemenets in the set u can not access as s[1]
- sets do  not allow mutable data type data
- set itself is mutable data type implies 2d/3d sets can not be possible.

#### Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

## how to create the set

In [1]:
s={12,13,15,"hello",90.8}
print(s)
print(type(s))

{'hello', 90.8, 12, 13, 15}
<class 'set'>

In [1]:
s={12,13,14,"hello",90.8,12} ## it allows unique ## repition not allowed
print(s)
print(type(s))

{14, 90.8, 12, 13, 'hello'}
<class 'set'>

## wap to remove the duplicants from the list

In [5]:
l=[12,13,14,"hello",90.8,12]
s=set(l)
l=list(s)
l

[12, 13, 14, 'hello', 90.8]

## set does not allow the mutable data

In [6]:
s={12,13,14,"hello",90.8,12,[12,13,14]}
s

TypeError: unhashable type: 'list'

## nesting is not allowed (means set cannot have set)

In [7]:
s={12,13,14,"hello",90.8,12,{12,13,14}}
s

TypeError: unhashable type: 'set'

## how to create the empty set

In [2]:
s=set() ## by default {} are dict
print(s)
print(type(s))

set()
<class 'set'>

## iterations in set

In [10]:
for i in {12,13,14,"hello",90.8,12}:
    print(i)

12
13
14
hello
90.8

## set is mutable: means changes are allowed

In [3]:
s={12,13,14,"hello",90.8,12} ## set does not have any index
s[-1]=900
s

TypeError: 'set' object does not support item assignment

## how to add the elements in the set
- add

In [12]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [13]:
s={12,13,14,"hello"}
s.add("500")
s

{12, 13, 14, '500', 'hello'}

## how to take values from user

In [14]:
s=set()
for i in range(1,5):
    s.add(int(input("enter the marks")))
s

enter the marks12
enter the marks13
enter the marks14
enter the marks15

{12, 13, 14, 15}

In [15]:
sum(s)

54

## mutable

In [4]:
a={12,13,14,15}
print(id(a))
a.add(900)
print(id(a))

2313043422880
2313043422880

## how to delete the element

In [5]:
s={12,13,14,15,16,17}
deleted=s.pop()
deleted

16

In [6]:
s={12,13,14,15,16,17}
s.remove(15)
s

{12, 13, 14, 16, 17}

### clear() it removes all elements and returns empty set

In [7]:
s={12,13,14,15}
s.clear()
s

set()

## + and * operators wont be acceptable

## union (to combine two sets)

In [11]:
s1={12,13,14,15,16,17}
s2={16,17,18,19,20}
s2=s1.union(s2)
s2

{12, 13, 14, 15, 16, 17, 18, 19, 20}

## intersection (common)

In [12]:
s1={12,13,14,15,16,17}
s2={16,17,18,19,20}
s2=s1.intersection(s2)
s2

{16, 17}

## subset 
### is s1 is the subset of s2 or not 
- when all the elements of s1 would be present in s2

In [14]:
s1={12,13,14,15,16,17}
s2={16,17,18,19,20}
s2=s1.issubset(s2)
s2

False

In [15]:
s1={12,13,14,15,16,17}
s2={16,17,12,13,14,15}
print(s1.issubset(s2))
print(s2.issuperset(s1))

True
True

## distinct- 2 sets are said to be distinct if they have nothing in common

In [17]:
s1={12,13,14,15,16,17}
s2={18,19,20}
s2=s1.isdisjoint(s2)
s2

True

## difference

In [19]:
s={823,96,12}
s2={90,80,70,12,13,14}
s.difference(s2)

{96, 823}

In [22]:
s={823,96,12}
s2={90,80,70,12,13,14}
s.difference_update(s2)
s

{96, 823}

## symmetric differenct (common ko chodh kar baaki sab)

In [25]:
s={823,96,12}
s2={90,80,70,12,13,14}
s.symmetric_difference(s2)

{13, 14, 70, 80, 90, 96, 823}

## in and not in (membership operators work)

## frozen sets(sets ko immutable banana)

In [26]:
s1={12,13,14,15}
s2=frozenset(s1)
s2

frozenset({12, 13, 14, 15})