# tuples

## what is a tuple?
a tuple is ordered collection of python objects separated by commas.

In some ways, a tuple is similar to a list in terms of indexing,nested objects,and repetition but a tuple is immutable,unlike lists that are mutable.

Tuples are immutable but follows some rules same as list like len,min,max,string

## tuple: immutable
## list: mutable

### where we choose the tuple?

### when we need the data integrity or security then we use tuple since tuple is immutable

## how to create tuple

In [1]:
t=(12,13,14,15,"hello","hi")
print(t)
print(type(t))

(12, 13, 14, 15, 'hello', 'hi')
<class 'tuple'>

In [2]:
t=(12,13,14,15)
print(t)
print(type(t))

(12, 13, 14, 15)
<class 'tuple'>

## create the empty tuple

In [3]:
t=()
print()
print(type(t))

<class 'tuple'>

## create the tuple from constructor

In [4]:
t=tuple("madrid")
print(t)
print(type(t))

('m', 'a', 'd', 'r', 'i', 'd')
<class 'tuple'>

## create a tuple having single element

In [7]:
t=("hello") ## this parenthesis do not have any value, it only works as brackets
print(t)
print(type(t))

hello
<class 'str'>

In [8]:
t=("hello",)## it is mandatory to give comma for giving single element
print(t)
print(type(t))

('hello',)
<class 'tuple'>

## indexing and slicing

In [9]:
t=(12,13,14,15,("grapes","mango","chiku"),["garima","khushi","leena"])
print(t)
print(type(t))

(12, 13, 14, 15, ('grapes', 'mango', 'chiku'), ['garima', 'khushi', 'leena'])
<class 'tuple'>

### fetch chiku

In [10]:
t[4][-1]

'chiku'

In [13]:
## common functions
- len
- max
- min
- sorted
- sum
- del

SyntaxError: invalid syntax (3274662681.py, line 7)

## iterations on tuple

In [14]:
for i in t:
    print(i)

12
13
14
15
('grapes', 'mango', 'chiku')
['garima', 'khushi', 'leena']

In [15]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## tuple is not very powerful so we forcefully change it into list then do the functions and then change it back to tuple
## tuple is basically used in the case of security like for example if we want our data to not get change we will use tuple

## since the tuple is immutable so changes are not allowed

In [17]:
t=(12,34,56,67,89,90)
t[-1]=65

TypeError: 'tuple' object does not support item assignment

In [18]:
l=list(t)
l[-1]=65
t=tuple(l)
t

(12, 34, 56, 67, 89, 65)

## index - position

In [24]:
s=t.index(12)
s

0

## count - occurence

In [26]:
s1=t.count(34)
s1

1

## packing and unpacking

In [27]:
t=(12,13,14,15,16,"hello") ##packing
print(t)
print(type(t))

(12, 13, 14, 15, 16, 'hello')
<class 'tuple'>

In [33]:
a1,a2,a3,a4,a5,a6=t ## unpacking
print(a1)
print(a2)
print(a3)
print(a4)
print(a5)
print(a6)

12
13
14
15
16
hello

In [35]:
a1,a2,*a=t ## star means variable
print(a1)
print(a2)
print(*a)

12
13
14 15 16 hello